---
menu: none
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Roland Ewald</title>

    <meta name="description" content="Homepage of Roland Ewald">
    <meta name="author" content="Roland Ewald">
    <meta name="keywords" content="Software,Research,Programming,Homepage">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    <!-- Load static files-->
    <link rel="shortcut icon" href="/img/favicon.png" />

    <link href="/lib/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/custom.css" rel="preload" as="style">
    <link href="/css/custom.css" rel="stylesheet" media="screen">
    
    <link href="/css/code.css" rel="preload" as="style">
    <link href="/css/code.css" rel="stylesheet" media="screen">

    <link href="/fonts/droid-serif.css" rel="stylesheet" type="text/css">
    <link href="/fonts/droid-sans.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/lib/html5shiv.js"></script>
      <script src="/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body style="overflow-y:scroll;">
    <!-- make sure scrollbar is always displayed, to avoid left-shift -->

    <div class="container">

        <div class="masthead">
            <h2 class="name"><a href="/" style="color: inherit; text-decoration: inherit;">Roland Ewald</a></h2>
            <h4 class="occupation">Software Engineer &#183; Researcher</h4>
                    <hr/>
                  <ul class="nav nav-pills nav-justified" role="navigation">
                        <li class="{% if page.menu=='about' %} active {% endif %}">
                            <a href="/" class="menu-link">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <br/>About Me</a>
                        </li>
                        <li class="{% if page.menu=='projects' %} active {% endif %}">
                            <a href="/projects/" class="menu-link">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <br/>Projects</a>
                        </li>
                        <li class="{% if page.menu=='blog' %} active {% endif %}">
                            <a href="/blog/" class="menu-link">
                                <span class="glyphicon glyphicon-comment"></span>
                                <br/>Blog</a>
                        </li>
                        <li class="{% if page.menu=='publications' %} active {% endif %}">
                            <a href="/publications/" class="menu-link">
                                <span class="glyphicon glyphicon-paperclip"></span>
                                <br/>Publications</a>
                        </li>
                        <li class="{% if page.menu=='profiles' %} active {% endif %}">
                            <a href="/profiles/" class="menu-link">
                                <span class="glyphicon glyphicon-cloud"></span>
                                <br/>Web Profiles</a>
                        </li>
                        <li class="{% if page.menu=='contact' %} active {% endif %}">
                            <a href="/contact/" class="menu-link">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <br/>Contact</a>
                        </li>
                    </ul>
        </div>
        <hr/>

        <div class="tab-content content-pane">
        <!-- Content goes here -->
        {{content}}
        </div>

        <div id="footer" class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">
            <a href="/">About Me</a> | <a href="/projects/">Projects</a> | <a href="/blog/">Blog</a> (<a href="/archive/">Archive</a>) | <a href="/publications/">Publications</a> | <a href="/profiles/">Web Profiles</a> | <a href="/contact/">Contact</a> &nbsp;•&nbsp; <a href="/contact/">Imprint</a>  | <a href="/privacy/">Privacy Policy</a>
        </div>

    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
</body>

</html>
